<div *ngIf="user" class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Profil Utilisateur</h5>
          <div *ngIf="!isEditMode">
            <p><strong>Nom d'utilisateur :</strong> {{ user.displayName }}</p>
            <p><strong>Adresse e-mail :</strong> {{ user.email }}</p>
            <button class="btn btn-primary" (click)="toggleEditMode()">Modifier</button>
          </div>
          <div *ngIf="isEditMode">
            <div class="mb-3">
              <label for="displayName" class="form-label">Nom d'utilisateur :</label>
              <input type="text" id="displayName" class="form-control" [(ngModel)]="newDisplayName" name="displayName">
              <div *ngIf="displayNameError" class="text-danger">{{ displayNameError }}</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Adresse e-mail :</label>
              <input type="email" id="email" class="form-control" [(ngModel)]="newEmail" name="email">
              <div *ngIf="emailError" class="text-danger">{{ emailError }}</div>
            </div>
            <button class="btn btn-primary" [disabled]="hasError" (click)="updateProfile()">Enregistrer</button>
            <button class="btn btn-secondary" (click)="toggleEditMode()">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
