<div class="card h-100" (mouseenter)="showDescription()" (mouseleave)="hideDescription()">
  <ng-container *ngIf="game.image">
    <a [routerLink]="['/game', game.id]">
      <img [src]="game.image" class="card-img-top" [alt]="game.name" />
      <!-- <video *ngIf="showVideo" class="card-video">
        <source [src]="game.video" type="video/mp4">
        Your browser does not support the video tag.
      </video> -->
    </a>
  </ng-container>
  <div class="card-body">
    <div class="volet d-flex align-items-center">
      <span class="rating">Rating</span>
      <span class="rate" *ngIf="showRating" (mouseenter)="toggleData()" [style]="getRatingStyle()">{{ getRatioValue() | round }} %</span>
      <div class="rate_data" (mouseout)="toggleRating()">
        <span class="positive" *ngIf="showPositive">{{ game.positive_rating | largeNumber }}</span>
        <span *ngIf="showPositive"> / </span>
        <span class="negative" *ngIf="showNegative">{{ game.negative_rating | largeNumber }}</span>
      </div>
    </div>
    <div class="card-description" [ngClass]="{ 'hide': !showDesc }" #description id="cardDescription">
      <h5 class="card-title">{{ game.name }}</h5>
      <div class="card-text">{{ game.short_description }}</div>
      <button class="btn btn-primary btn-wish" matRipple matRippleColor="#ff7700" (click)="addToWishlist(game.id)">Add to wishlist</button>
    </div>
  </div>
</div>
