.card-img-top:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card {
  max-width: 100%;
}

.card-img-top {
  width: 100%;
}

.card-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  position: relative;
  margin-top: 10px;
}

.card:hover .card-description {
  height: 100%; /* Permet d'afficher le contenu complet */
}

/* Définition de l'animation */
@keyframes slideIn {
  from {
    max-height: 0; /* Utilisez max-height pour assurer une animation fluide */
  }
  to {
    max-height: 500px; /* Utilisez une hauteur maximale fixe pour l'animation */
  }
}

@keyframes slideOut {
  from {
    max-height: 500px; /* Utilisez une hauteur maximale fixe pour l'animation */
  }
  to {
    max-height: 0;
  }
}

/* Appliquer l'animation */
.card-description {
  animation: slideIn 0.8s ease forwards; /* Animation d'apparition */
}

.card-description.hide {
  animation: slideOut 0.8s ease forwards; /* Animation de disparition */
}

.rating {
  border: 1px solid #757575; /* Bordure grise */
  color: #949494;
  padding: 3px 5px; /* Espacement intérieur */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  margin-bottom: 10px; /* Marge inférieure */
  border-radius: 5px;
  margin-right: 12px;
}

.rating:hover .positive, .rating:hover .negative {
  display: inline-block; /* Affiche les évaluations lorsqu'elles sont survolées */
}

.positive {
  color: green;
}

.negative {
  color: red;
}
.rate {
  padding-bottom: 10px;
}

.btn-wish {
  margin-top: 10px;
}

/* .card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
} */

.rate_data {
  padding-bottom: 10px;
}

.volet {
  max-height: 15px;
  padding-top: 10px;
}
