<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Your journey <br />
            <span class="text-primary" style="color: #ff7700 !important">Start Here!</span>
          </h1>
          <p style="color: hsl(24, 3%, 71%)">
            Discover Your Own Path to Adventure! Embrace the thrill of forging your unique journey, tailored perfectly to your desires and dreams.

            But why keep these moments of glory to yourself? Share the excitement, the triumphs, and the unforgettable experiences with the world! Let your journey inspire others to embark on their own quests for fulfillment and excitement.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form (ngSubmit)="signUp()">
                <!-- Email input -->
                <div *ngIf="errorMessage" class="alert alert-danger mb-3">
                  {{ errorMessage | firebaseSignUpError }}
                </div>

                <!-- Username input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example5" class="form-control" [(ngModel)]="username" name="username"/>
                  <label class="form-label" for="form3Example5">Username</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" [(ngModel)]="email" name="email"/>
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" [(ngModel)]="password" name="password"/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" matRipple matRippleColor="#ff7700">
                  Sign up
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
