.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ajuste la hauteur minimale de l'élément conteneur à la hauteur de la fenêtre */
}

.router-outlet {
  flex: 1; /* Le contenu principal (router-outlet) prendra tout l'espace restant */
}
