<div class="messages-container">
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchText" (ngModelChange)="searchFriends()" placeholder="Rechercher des amis...">
  </div>
  <div class="conversations-list">
    <div *ngFor="let conversation of filteredConversations" class="conversation" (click)="navigateToConversation(conversation.id)">
      <div class="friend-name">{{ conversation.otherUsername }}</div>
      <div class="last-message">{{ conversation.lastMessage }}</div>
    </div>
  </div>
</div>
