.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.btn-login,
.btn-login:hover {
  background: linear-gradient(45deg, #ff7700, #df3400);
  border: none;
  color: white !important;
}

.text-orange,
.text-orange:hover {
  color: #ff7700;
}
