<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
          <!-- Affichage du message d'erreur -->
          <div *ngIf="errorMessage" class="alert alert-danger mb-3">
            {{ errorMessage | errorFormat }}
          </div>
          <form (ngSubmit)="signIn()">
            <div class="form-floating mb-3">
              <input [(ngModel)]="email" name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="password" name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="d-grid mb-3">
              <button class="btn btn-primary text-uppercase fw-bold text-white" type="submit" matRipple matRippleColor="#ff7700">Sign in</button>
            </div>
          </form>
          <div class="text-center">
            <small>Don't have an account? <a routerLink="/signup" class="text-decoration-none text-orange">Create one</a></small>
          </div>
          <div class="text-center">
            <small>Forgot your password? <a routerLink="/reset-password" class="text-decoration-none text-orange">Reset it</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
