/* You can add global styles to this file, and also import other style files */

@import 'font.css';

html, body { height: 100%; }

/* Définition des couleurs principales */
:root {
  --couleur-principale: #272727; /* Couleur principale */
  --couleur-secondaire: #101010; /* Couleur secondaire (blanc) */
  --couleur-tertiaire: #101010; /* Couleur tertiaire (gris) */
  --couleur-texte: #ffffff; /* Couleur du texte */
  --color-special: #ff7700; /* Couleur spéciale */
}
/* Styles généraux */
body {
  background-color: var(--couleur-principale) !important;
  color: var(--couleur-texte) !important;
  /* font-family: Arial, sans-serif; */
}

/* Styles pour les éléments spécifiques à Angular */
/* Exemple: Bouton */
.button,
.btn {
  background-color: var(--couleur-principale) !important;
  color: var(--couleur-secondaire) !important;
  border: 1px solid #ff7700 !important;
}

/* Styles pour les éléments spécifiques à Angular */
/* Exemple: Carte */
.card {
  background-color: var(--couleur-tertiaire);
  color: var(--couleur-texte);
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

.mat-raised-button, .mat-flat-button, .mat-stroked-button, .mat-icon-button {
  transition: box-shadow 0.3s ease-in-out;
}

.mat-raised-button:hover, .mat-flat-button:hover, .mat-stroked-button:hover, .mat-icon-button:hover {
  box-shadow: 0 5px 15px #ff7700;
}

.text-animation {
  cursor: pointer; /* Ajoute un indicateur de survol pour les utilisateurs */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.bold-text {
  font-weight: bold;
}

.mat-ripple-element{
  z-index:-1 !important;
}
.mat-ripple{
  z-index:50;
}
