.image-card {
  width: 15vw; /* Largeur relative à la taille de l'écran */
  height: 75vh; /* Hauteur relative, ici basée sur une conversion de 850px supposant un viewport height de 1500 */
  border-radius: 3rem; /* Bords arrondis */
  margin: 1rem; /* Marge réduite pour les petits écrans */
  overflow: hidden; /* Empêche les images de déborder */
  box-shadow: 0 1.33vw 5.33vw #000; /* Effet d'ombre */
  transition: transform 0.9s ease, box-shadow 0.9s ease;
}

.image-card:hover {
  transform: translateY(6.67vh); /* Animation de translation */
  box-shadow: 0 1.33vw 5.33vw #ff7700; /* Changement de couleur d'ombre */
}

.image-card img {
  width: 120%;
  height: 110%;
  object-fit: cover;
  border-radius: inherit;
}

@media (max-width: 915px) {
  .image-card {
    width: 80vw; /* Plus large sur les petits écrans */
    height: 80vh; /* Hauteur ajustée */
    margin: 0.5rem; /* Marge réduite */
  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}


.card:hover:before {
  opacity: 1;
}


.info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

button:hover {
  background: dodgerblue;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent */
  opacity: 0; /* Masquer au départ */
  transition: opacity 0.3s ease; /* Transition fluide de l'opacité */
  transform-style: preserve-3d;
}

.image-card:hover .overlay {
  opacity: 1; /* Afficher au survol */
}
.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.description h2 {
  margin: 0;
  font-size: 1.5rem;
}

.description p {
  margin: 10px 0 0;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.click-animation {
  cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
}

.click-animation:active {
  transform: translateY(2px); /* Applique une légère translation vers le bas lors du clic */
}
