.image-card {
  width: 300px; /* ou la largeur de votre choix */
  height: 850px; /* ou la hauteur de votre choix */
  border-radius: 45px; /* bords arrondis */
  margin: 100px;
  overflow: hidden; /* assurez-vous que les images ne débordent pas des cartes */
  box-shadow: 0 20px 80px #000000; /* Effet d'ombre initial */
  transition: transform 0.9s ease, box-shadow 0.9s ease;
}

.image-card:hover {
  transform: translateY(100px);
  box-shadow: 0 20px 80px #ff7700; /* Effet d'ombre au survol */
}

.image-card img {
  width: 120%;
  height: 110%;
  object-fit: cover;
  border-radius: inherit;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}


.info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

button:hover {
  background: dodgerblue;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent */
  opacity: 0; /* Masquer au départ */
  transition: opacity 0.3s ease; /* Transition fluide de l'opacité */
  transform-style: preserve-3d;
}

.image-card:hover .overlay {
  opacity: 1; /* Afficher au survol */
}
.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.description h2 {
  margin: 0;
  font-size: 1.5rem;
}

.description p {
  margin: 10px 0 0;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.click-animation {
  cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
}

.click-animation:active {
  transform: translateY(2px); /* Applique une légère translation vers le bas lors du clic */
}
