html, body {
  height: 100%;
  margin: 0;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff; /* Couleur de fond du footer */
  color: #fff; /* Couleur du texte du footer */
  padding: 20px 0; /* Espace autour du contenu du footer */
}
